.wrapper {
  margin-top: 5rem;
}

.wrapper > div > div:first-child {
  flex: 1;
}

.wrapper > div > div:last-child {
  flex: 2;
}

.wrapper > div {
  align-items: flex-start;
  gap: 6rem;
}

.leftSide {
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 0 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.leftSide h2 {
  color: #f9f9f9;
  font-weight: 600;
  font-size: var(--h2);
  text-transform: capitalize;
}

.rightSide {
  padding: 0 1rem 1rem 1rem;
}

.rightSide h2 {
  text-align: right;
  padding-right: 2rem;
  margin-bottom: 2rem;
  font-size: var(--h2);
  font-weight: 700;
  font-family: var(--font-poppins);
  padding-left: 1rem;
}

.rightSide h2 span {
  color: var(--primary-color);
}

@media (max-width: 56.5rem) {
  .rightSide h2 {
    font-size: var(--h4);
  }
}

@media (max-width: 43.75rem) {
  .wrapper > div {
    flex-direction: column;
    align-items: normal;
  }

  .wrapper > div > div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  .wrapper > div > div:last-child {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .leftSide {
    border-radius: 20px;
  }

  .rightSide h2 {
    text-align: center;
  }
}
