.wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-bottom: 40px;
}

@media (max-width: 51rem) {
  .wrapper {
    grid-template-columns: repeat(2, auto);
    justify-content: space-around;
    gap: 1.5rem;
  }
}
