.wrapper {
  padding-block: 5rem;
}

.wrapper .title {
  color: var(--button-black-color);
  font-family: var(--font-poppins);
  font-size: var(--h1);
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 3rem;
}

.title .subTitle {
  color: var(--primary-color);
}

.wrapper .gridArea {
  display: grid;
  justify-content: center;
  gap: 20px;
}

.largeGrid {
  grid-template-columns: repeat(auto-fit, minmax(min(395px, 100%), 1fr));
}

.smallGrid {
  grid-template-columns: repeat(auto-fit, minmax(min(225px, 100%), 1fr));
}
