.wrapper {
  padding: 1rem 1.5rem;
  font-size: var(--h5);
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 1rem;
}

.signin {
  background-color: transparent;
  color: var(--text-light-color);
}
.signup {
  background-color: var(--primary-color);
  color: white;
}
