.wrapper {
  padding: 16px 8px;
  border-radius: 34.581px;
  border: 1.441px solid #f4f4f6;
  box-shadow: 6.84842px 82.18102px 41.09051px 0px rgba(229, 229, 229, 0.7);
  cursor: pointer;
  position: relative;
}

.floatingHeartIcon {
  position: absolute;
  top: 3%;
  right: 5%;
}

.imageWrapper img {
  background-size: cover;
}

.wrapper .cardDescription {
  padding: 12px;
}

.cardDescription .tag {
  font-family: var(--font-poppins);
  font-size: 12.776px;
  font-weight: 400;
  border-radius: 5.4px;
  padding: 3px 8px;
  margin-bottom: 8px;
  text-transform: capitalize;
  width: fit-content;
}

.healthy {
  color: var(--yello-text-color);
  background-color: var(--yello-bg-color);
}
.trending {
  color: var(--red-text-color);
  background-color: var(--red-bg-color);
}
.supreme {
  color: var(--green-text-color);
  background-color: var(--green-bg-color);
}
.cardDescription .title {
  color: var(--button-black-color);
  font-family: var(--font-poppins);
  font-size: var(--h4);
  font-weight: 600;
  text-transform: capitalize;
}

.cardDescription .details {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-manrope);
  font-size: var(--h5);
  font-weight: 400;
  color: #8e97a6;
  margin-bottom: 12px;
}

.details .time {
  color: inherit;
  font: inherit;
}
.details .rating {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: auto;
  color: inherit;
  font: inherit;
}

.cardDescription .priceSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.priceSection .price {
  font-family: var(--font-manrope);
  font-weight: 700;
  color: var(--button-black-color);
  font-size: var(--h3);
}

.price .subPrice {
  color: #8e97a6;
  font-size: var(--h5);
}

.priceSection .addButton {
  cursor: pointer;
}
